<header>
  <h1>
    <img src="" alt=""> Heineken Gestión
  </h1>
  <nav>
    <ul>
      <li>Planes</li>
      <li>Misiones</li>
      <li>Puntos</li>
    </ul>
  </nav>
  <div class="menu pull-right">
    <img src="" alt=""> Nombre Usuario
    <button>Cerrar</button>
  </div>
</header>
