$brand-primary:         #5cb85c !default;
$brand-success:         #337ab7 !default;
$brand-info:            #7dde5b !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

/* You can add global styles to this file, and also import other style files */
